@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 70%;
    height: auto;
}

.lolwitch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}