<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL Witch</title>
    <style>
        p {
            font-size: 6.2em;
            font-weight: 500;
            margin: 1px;
            color: 
            {{color}};
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="lolwitch">
        <div class="images">
            <img src="{{url_for('static', filename=data.tier)}}" />
        </div>
        <div class="info">
            <p>Rank: {{data.rank}}</p>
            <p>{{data.leaguePoints}} PDLs</p>
        </div>
    </div>
</body>

</html>