<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL Witch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="lolwitch">
        <div class="images">
            <img src="{{url_for('static', filename=data.tier)}}" />
        </div>
        <div class="info">
            <h1>Rank: {{data.rank}}</h1>
            <h1>LP: {{data.leaguePoints}}</h1>
        </div>
    </div>
</body>
</html>